
@if(isLoading){
    <div class="mx-auto text-center">

        <i class="fa fa-spin fa-spinner fa-7x text-center"></i>
    </div>

}@else{
<div class="my-16  flex flex-wrap   items-center ">

<div class="w-full lg:w-1/4">
     <owl-carousel-o [options]="customOptions">

    @for (src of product?.images; track $index) {
      <ng-template carouselSlide [id]="'slide' + $index">
        <img [src]="src" >
      </ng-template>
    }

  </owl-carousel-o>
</div>
<div class="w-full lg:w-3/4">

    <h2 class="text-4xl mb-4 font-light">{{product?.title}}</h2>
    <p class="text-gray-400 mb-10">{{product?.description}}</p>
    <span>category</span>
<div class="flex items-center mb-2 justify-between">
<span>{{product?.price}}EGP</span>
<span><i class="fa text-yellow-400  fa-star"></i><span class="text-gray-500">{{product?.ratingsAverage}}</span> </span>
</div>

<button (click)="addProductCart(product!._id)" class="cursor-pointer active:scale-[.89] transition-all duration-300 w-full text-white bg-main  py-1.5 rounded-2xl"><i class="fa text-sm fa-plus"></i>Add to Cart</button>

</div>
</div>
}