
<div class="my-12 ">
    <h2 class="text-2xl mb-2 font-bold text-main">login</h2>
    

<!-- 
    <span>{{}}</span> -->

<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="mx-auto">


    @for(item of ['email' ,'password']; track  $index){
        @if (this.loginForm.get(item)?.getError('required') && this.loginForm.get(item)?.touched && !this.loginForm.get(item)?.getError('notMatching')) {
    <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">This field is required</div>
  }
  <div class="relative z-0 w-full mb-5 group">
      <input [class.!border-b-red-500]="loginForm.get(item)?.touched && loginForm.get(item)?.errors"  [formControlName]="item" type="text" [name]="'floating'+ item" [id]="'floating_'+ item" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500  focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" "  />
      <label
      [class.!text-red-500]="loginForm.get(item)?.touched && loginForm.get(item)?.errors"
      [for]="'floating'+item" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">   <span class="capitalize">{{item}}</span>      </label>
  </div>
 
  
    }


  <button [disabled]="isLoading" type="submit" class="text-white  bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 disabled:bg-green-500/50 dark:focus:ring-green-800">@if(isLoading)
    {
        loading..
    }@else{
        submit
    }
  </button>
  <a routerLink="/reset-password">
      <button type="button" class=" bg-green-800 mt-8 flex border border-gray-300 focus:outline-none  focus:ring-4 focus:ring-green-100 hover:bg-green-500 text-white transition-all duration-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-green-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Forget Password</button>


  </a>

</form>

</div>
 