<div class="w-full cursor-pointer active:scale-[99%] transition-all duration-200 group relative">
  
  <button 
    (click)="addToWishlist(product.id); $event.stopPropagation()" 
    class="absolute top-2 right-2 z-10 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 transform hover:scale-110">
    <i class="fa fa-heart text-lg transition-colors duration-300" 
       [class.text-red-500]="isInWishlist" 
       [class.text-gray-400]="!isInWishlist"></i>
  </button>

  <div [routerLink]="['/product-details', product.id , product.slug]" class="">
    <img [src]="product.imageCover" alt="" class="w-full">
    
    <span class="text-green-500 text-sm">{{product.category.name}}</span>
    <h2 class="text-lg truncate capitalize mb-2" [title]="product.title">{{product.title | uppercase}}</h2>

    <div class="flex justify-between">
        <span class="text-lg font-semibold text-gray-800">{{product.price}}EGP</span>
        <span class="flex items-center">
          <span class="text-sm text-gray-600 mr-1">{{product.ratingsAverage}}</span>
          <i class="fa fa-star text-yellow-400"></i>
        </span>
    </div>
  </div>
    <button (click)="addProductCart(product.id)" class="w-full cursor-pointer group-hover:opacity-100 transition-all duration-200 translate-y-10  group-hover:translate-y-0  bg-green-500 py-1.5 rounded-2xl text-white opacity-0">Add to cart</button>
</div>